/*All html*/


html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

html{
    scroll-behavior: smooth;
  }

#dropdownMenuButton1{
background-color: inherit;
border: 0;
}
/*Scroll interaction*/
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .scrolling-wrapper-flexbox .cardBanner{
    flex: 0 0 auto;
    margin-right: 16px;
  }

  /*Hero Cover Container*/
  .cardBanner2{
    flex: 0 0 auto;
    margin-right: 16px;
    /*border: 2px solid #000000; */
    width: 55vw;
    height: inherit;
    background: rgb(255, 255, 255);
    visibility: hidden;
  }
  /*Side Space Container*/
  .cardBanner3{
    flex: 0 0 auto;
    margin-right: 16px;
    border: 2px solid #000000;
    width: 8vw;
    height: inherit;
    background: rgb(255, 255, 255);
    visibility: hidden;
  }
  /*Hero Page Article Container*/
  .cardBanner {
    border: 1px solid #000000;
    width: 500px;
    height: inherit;
    background: rgb(255, 255, 255);
  }
  /*Issue Container*/
  .cardBannerS {
    flex: 0 0 auto;
    margin-right: 16px;
    /*border: 2px solid #000000; */
    width: 500px;
    height: 16rem;
    background: rgb(255, 255, 255);
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAVklEQVQYV2NkYGAwBuKzQAwDUkDGMyjnPyOSBDITrgiXApBisCKQggYoBgliWAdSgGInkG+C5KYGmBUgRU+BGMaHm4TsBmST4NaBFPxH0glSlIbkJgYAOoYQot9ebmkAAAAASUVORK5CYII=)repeat;*/
    /*
    border-radius: 71% 29% 82% 18% / 24% 76% 24% 76%;
    */
  }
  .cardBannerSS {
    flex: 0 0 auto;
    margin-right: 16px;
    /*border: 2px solid #000000; */
    width: inherit;
    height: 16rem;
    /*background: rgb(255, 255, 255); */
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAVklEQVQYV2NkYGAwBuKzQAwDUkDGMyjnPyOSBDITrgiXApBisCKQggYoBgliWAdSgGInkG+C5KYGmBUgRU+BGMaHm4TsBmST4NaBFPxH0glSlIbkJgYAOoYQot9ebmkAAAAASUVORK5CYII=)repeat;*/
    /*
    border-radius: 71% 29% 82% 18% / 24% 76% 24% 76%;
    */
  }

  .scrolling-wrapper-flexbox {
    /* these lines below change the size of the wrapper container */
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    padding: 1.5rem;
  }
 .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;

  }
/*Spacer styles*/
.row[name=spacer2]{
    height: 2rem;
    /*border: 1px solid rgb(0, 0, 0); */
  }
.row[name=spacer3]{
  height: 1rem;
  /*border: 1px solid rgb(0, 0, 0); */
}

.row[name=wrapper]{
  height: fit-content;
}
.row > .flex-column{
  width: 50%;
}

/*Header styles*/

/*Main content styles-HOME*/

.marginCC{
  margin-left: 7rem;
  margin-right:auto;
}
/*
  .row[name=anchored]{
    height: 80vh;
  }
*/


/*Main content styles-TEAMS*/
.col[name=mem1]{
  height: 70vh;
}

.photo{
  width: 100%;
  height: 40vh ;
}

.container[name=cover]{
    /*border: 2px solid black; */
    height: 75vh;

    color:rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

    background-image: url(https://raw.githubusercontent.com/Technaissance/Technaissance/main/IMG/0.022464440873785074.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top:1.5rem;

}

.cardBannerSS > .issue{
  margin-top: 2em;
}

.container-fluid[name=main]{
    padding-top: 3.5rem !important;
    padding-left: 7rem !important;
    padding-right: 7rem !important;
    height: 100%;
    margin: 0% !important;
    z-index: 2;
    
    /*color:rgb(3, 45, 182);*/
  }

.col-sm-12{
  position: fixed;
  height: 80vh;
}

.sticky-offset {
  top: 96px;/*56px;*/
}

/*Footer styles*/
footer{
    margin-top: auto;
  }

.flex-container {
  display: flex;
  flex-wrap: wrap;
}


/* MEDIA QUERIES */
 
@media screen and (max-width: 960px) {
  .col[name=wide] {
    flex: 0 0 auto;
    width: 100%;
  }
  .col[name=narrow] {
    flex: 0 0 auto;
    width: 100%;
  }
  .col[name=mem1]{
    flex: 0 0 auto;
    width: 100%;
  }
} 

@media screen and (min-width: 960px){
  .col[name=wide] {
    flex: 0 0 auto;
    width: 69%;
  }
  .col[name=narrow] {
    flex: 0 0 auto;
    width: 31%;
  }
  .col[name=mem1]{
    flex: 0 0 auto;
    width: 50%;
  }
} 
  
