html{
  scroll-behavior: smooth;
}

footer{
  margin-top: auto;
}

offcanvas-btn {
    left: 391px;
    visibility: visible;
    bottom: 50%;
    transform: rotate(270deg);
}

#arrow{
  position: relative;
  top: 69vh;
  font-size: 28pt;
}

.navbar{
    position: fixed;
    top:0%;
    left: 0%;}

/* optional junk to toggle the button text */
.offcanvas-btn span:last-child,
.offcanvas.show .offcanvas-btn span:first-child {
  display: none;
}

.offcanvas.show .offcanvas-btn span:last-child {
  display: inline;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.navbar {
  margin-bottom: 20px;
}
.overflow-auto {
  max-height: 1024px;
}

.card-body[name=Vcarousal]{
  height: 45vh;
}

/* TEAMS PAGE STYLE BASE */
.row[name=teamDesc]{
  height: 15rem;
  /*border: 1px solid rgb(0, 0, 0); */
}


/* CAROUSAL STYLES HERE */
.carousel-inner{
  max-height: 70vh;
}
/* FOOTER STYLES HERE */

.heart {
  color: #2f2f2f;
}

/* IMAGES STYLES HERE */
.img {max-width: 90%;
          height: auto;
          margin: 30px;}
.img3 {max-width: 50%;
          display: block;
          margin: 30px; }
.bodymain {
  height: 170vh; 
  overflow: scroll;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#herocover{
  /*flex-shrink: 0;
  min-width: 100%; */
  object-fit: cover;
  overflow: hidden;
}
#dropdownMenuButton1{
  background-color: inherit;
  border: 0;
}

.container[name=disclaimerCont]{
  height: 80vh;
  /*border: 1px solid rgb(0, 0, 0); */
}

/* SPACER STYLES HERE */

.row[name=spacer1]{
  height: 1.5em;
  /*border: 1px solid rgb(0, 0, 0); */
}

.row[name=spacer2]{
  height: 2.5em;
  /*border: 1px solid rgb(0, 0, 0); */
}

.row[name=spacer3]{
  height: 72vh;
}
/* ANCHORED STYLES HERE */

.container-fluid[name=anchored] {
  /*height:  40vh ;38.5rem; */
  /*margin-top: 5rem;*/
  position:fixed;
  z-index: 2;
  /*width: 100vw; */
}

.row[name=anchored]{
  height: 64vh;
}
