offcanvas-btn {
    left: 391px;
    visibility: visible;
    bottom: 50%;
    transform: rotate(270deg);
}

/* optional junk to toggle the button text */
.offcanvas-btn span:last-child,
.offcanvas.show .offcanvas-btn span:first-child {
  display: none;
}

.offcanvas.show .offcanvas-btn span:last-child {
  display: inline;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.navbar {
  margin-bottom: 20px;
}
.overflow-auto {
  max-height: 1024px;
}


.footer-widget {
    border: 1px solid #444;
    height: 100%;
    width: 100%;
    text-align: center;
}
.img {max-width: 90%;
          height: auto;
          margin: 30px;}
.img3 {max-width: 50%;
          display: block;
          margin: 30px; }
.bodymain {
  height: 170vh;
  overflow: auto;
}

/* TEST */

p {
  font-family:'PT Mono', monospace;
  margin-bottom: 30px;
  margin-top:  30px;
}
