/*Internal CSS using element name*/
/*h1{font-style: italic;
         font-size: 30px;
         color: #f08080;}*/
    /*Internal CSS using class name*/
    .subtitle{font-style: italic;
       font-weight: bold;
         font-size: 15px;
         color: #0a0a0a;}
    /*Internal CSS for tables*/ 
    table, th {border-bottom:1px solid black;}
    /*Internal CSS for images*/ 
    img {max-width: 90%;
          height: auto;}
    .img3 {max-width: 50%;
          display: block;
          margin-left: auto;
          margin-right: auto; }

 /*Cyberpunk CSS*/
:root {
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
  --yellow-color: #f9f002;
  --yellow-color-opacity: #f9f00242;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --blue-color: #136377;
  --green-color: #446d44;
  --purple-color: purple;
}

.content {
  background-color: var(--yellow-color);
  min-height: 220vh;
  font-family: "Advent Pro", arial ;
}

/* Titles */

h1.cyberpunk,
h2.cyberpunk,
h3.cyberpunk,
h4.cyberpunk {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 200;
  position: relative;
  padding-bottom: 15px;
}

h2.cyberpunk {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 300;
}

h3.cyberpunk {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}

h4.cyberpunk {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
}

h1.cyberpunk:before,
h2.cyberpunk:before,
h3.cyberpunk:before,
h4.cyberpunk:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 100%;
    height: 10px;
    background-color: #000;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

h1.cyberpunk.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.4);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h2.cyberpunk.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.7);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

h3.cyberpunk.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.1);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}

h4.cyberpunk.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 2.1);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes h1glitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
  }
  11% {
    transform: skew(0deg);
    left: 2px;
  }
  50% {
    transform: skew(0deg);
  }
  51% {
    transform: skew(10deg);
  }
  59% {
    transform: skew(10deg);
  }
  60% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

h1.cyberpunk.glitched:before {
  animation-name: h1beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h1beforeglitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  11% {
    transform: skew(0deg);
    left: 2px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  50% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  51% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  59% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  60% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  100% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
}

h2.cyberpunk:before {
  clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
}

h2.cyberpunk.glitched:before {
  animation-name: h2beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h2beforeglitched {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1);
  }
  11% {
    transform: scaleY(-1);
  }
  50% {
    transform: scaleY(-1);
  }
  51% {
    transform: scaleY(1);
  }
  59% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

h3.cyberpunk:before {
        clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
}

h4.cyberpunk:before {
        clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}

h1.cyberpunk:after,
h2.cyberpunk:after,
h3.cyberpunk:after,
h4.cyberpunk:after,
p.cyberpunk:after {
  content: "_";
  animation-name: hxafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h3.cyberpunk:after,
h4.cyberpunk:after {
  animation-direction: reverse;
  animation-duration: calc(var(--glitched-duration) / 2);
}

@keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Separator */

hr {
  height: 14px;
  background-color: #000;
  width: 100%;
  clip-path: polygon(1px 0px, 0px 0px, 0px 0px, 8px 14px, 13px 14px, 22px 7px, 42px 6px, 49px 2px, 100% 2px, 100% 0px, 42px 0px, 35px 5px, 22px 6px, 13px 13px, 9px 13px);
  animation-name: hr;
  animation-duration: var(--glitched-long-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes hr {
  0% {
    transform: skew(0deg);
  }
  15% {
    transform: skew(0deg);
  }
  16% {
    transform: skew(20deg);
  }
  20% {
    transform: skew(20deg);
  }
  21% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: var(--yellow-color);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  transition: background var(--glitched-duration);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-color);
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}


/* colors */
$placeholder: #888888;
$mainBG: #373D45;
$searchIcon: #888888;
$searchIconActive: white;
$searchText: white;
$searchLine: white;
$blockBG: rgba(0,0,0,0.2);
$blockBorder: #222222;
$blockHeader: #F38630;
$blockLink: white;
$blockHover: #69D2E7;

//theme
$blockHeader: #95EDFD;
$blockHover: #FF92D1;

/* responsive mixin */

$BP_XXL: 1600px;
$BP_XL: 1200px;
$BP_L: 1000px;
$BP_M: 850px;
$BP_S: 710px;
$BP_XS: 650px;
$BP_XXS: 400px;

@mixin responsive($width: $BP_L) {
	@media screen and (max-width: $width) {
		@content;
	}
}

/* placeholder */

@mixin placeholder {
	::-webkit-input-placeholder { @content }
	:-moz-placeholder           { @content }
	::-moz-placeholder          { @content }
	:-ms-input-placeholder      { @content }
}

@include placeholder {
	color: $placeholder;
	opacity: 0;
	transition: opacity .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	@at-root input:focus#{&} {
		opacity: 1;
	}
}

/* main content */

/* colors */
/* responsive mixin */
/* placeholder */
::-webkit-input-placeholder {
  color: #888888;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  color: #888888;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus:-moz-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  color: #888888;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  color: #888888;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus:-ms-input-placeholder {
  opacity: 1;
}

/* main content */
footer {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  opacity: 1;
}

html, body {
  background-color: #373D45;
}

.search-block {
  position: relative;
  width: 40%;
  margin: 10vh auto 0px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .search-block {
    width: 60%;
    margin: 5vh auto 0vh;
  }
}
.search-block label {
  position: absolute;
  color: #888888;
  top: 7px;
  left: -20px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block input {
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 16px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid transparent;
  color: white;
  outline: none;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block input:hover, .search-block input:focus {
  border-bottom: 2px solid white;
}
.search-block input:hover + label, .search-block input:focus + label {
  color: white;
}
.search-block ul.search-help {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}
@media screen and (max-width: 1000px) {
  .search-block ul.search-help {
    max-height: 100px;
  }
}
.search-block ul.search-help li {
  display: inline-block;
  padding: 25px;
  list-style: none;
  cursor: pointer;
}
.search-block ul.search-help li > span {
  position: relative;
  color: white;
  font-size: 20px;
}
.search-block ul.search-help li > span .icon {
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block ul.search-help li > span .command {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block ul.search-help li:hover .icon {
  opacity: 0.2;
}
.search-block ul.search-help li:hover .command {
  opacity: 1;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.blocks .block {
  flex: 1;
  margin: 2px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #222222;
  min-width: 160px;
}
.blocks .block li {
  list-style: none;
}
.blocks .block .header {
  color: #95EDFD;
}
.blocks .block a {
  text-decoration: none;
  cursor: pointer;
}
.blocks .block a:visited, .blocks .block a:focus, .blocks .block a:link {
  color: white;
}
.blocks .block a:hover {
  color: #FF92D1;
}
@media screen and (max-width: 1000px) {
  .blocks {
    width: 80%;
  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
.pi {
  background: linear-gradient(183deg, rgba(141, 35, 46, 0.5) 1%, rgba(141, 35, 46, 0) 60%), linear-gradient(250deg, rgba(141, 35, 46, 0) 21%, rgba(141, 35, 46, 0.2) 20%, rgba(11, 35, 47, 0.2) 50%), linear-gradient(250deg, rgba(141, 35, 46, 0) 23%, rgba(141, 35, 46, 0.2) 20%, rgba(11, 35, 47, 0.2) 50%), linear-gradient(250deg, rgba(141, 35, 46, 0) 25%, rgba(141, 35, 46, 0.2) 20%, rgba(11, 35, 47, 0.2) 50%), repeating-linear-gradient(179deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 3px, rgba(0, 0, 0, 0.1) 3px, rgba(0, 0, 0, 0.1) 5px);
  background-color: #0b232f;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
  text-decoration: none;
  outline: 0 none;
  margin-top: 20px;
  margin-bottom: 20px;
}

::-moz-selection {
  color: #ff1493;
  background: #9932cc;
}

::selection {
  color: #ff1493;
  background: #9932cc;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 40px;
  font-family: "VT323";
  font-size: 1.3em;
  line-height: 1.3;
}

@media all and (max-width: 620px) {
  .wrap-top {
    height: 275px;
  }
}
@media all and (max-width: 350px) {
  .wrap-top {
    height: auto;
  }
}
.wrap-top #quote {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
}
.wrap-top #quote:before {
  content: '"';
  font-size: 5em;
  position: absolute;
  left: -50px;
  top: 0px;
}
.wrap-top #author-source {
  float: right;
}
.wrap-top #author-source #author,
.wrap-top #author-source #source {
  font-size: 0.85em;
}
.wrap-top #author-source #author {
  float: left;
  padding-right: 5px;
}
.wrap-top #author-source #author:before {
  content: "- ";
}
.wrap-top #author-source #author:after {
  content: ",";
}
.wrap-top #author-source #source {
  font-style: italic;
  float: left;
}

.wrap-mid {
  padding: 25px 0 100px 0;
}
.wrap-mid .tweet {
  cursoir: pointer;
  transition: all 0.1s ease-in-out;
}
.wrap-mid .tweet:hover {
  text-shadow: 0 0 13px #fff;
  cursoir: hand;
}
.wrap-mid button {
  border-radius: 3px;
  outline: 0;
  padding: 5px 10px;
  box-shadow: 0 0 25px #fff;
  transition: all 0.5s;
}
.wrap-mid button:hover {
  box-shadow: 0 0 30px #fff;
}
.wrap-mid #new-quote {
  float: right;
}

.wrap-btm {
  padding: 20% 0 10% 0;
  margin: 0 auto;
  text-align: center;
  font-family: Open Sans, Helvetica, sans-serif;
}
.wrap-btm p, .wrap-btm a {
  text-transform: uppercase;
  font-size: 0.6em;
  text-shadow: none;
  color: #ccc;
  opacity: 0.4;
}
.wrap-btm a {
  color: #ccc;
  font-size: 1.05em;
  opacity: 1;
}
