/*Internal CSS using element name*/
/*h1{font-style: italic;
         font-size: 30px;
         color: #f08080;}*/
    /*Internal CSS using class name*/
    .h1{font-style: italic;
         font-size: 60px;
         color: #f08080;}
    .h2{font-style: italic;
         font-size: 30px;
         color: #f08080;}
    .h3{font-style: italic;
         font-size: 15px;
         color: #f08080;}
    .subtitle{font-style: italic;
       font-weight: bold;
         font-size: 15px;
         color: #0a0a0a;}
    /*Internal CSS for tables*/ 
    table, th {border-bottom:1px solid black;}
     /*Internal CSS for images*/ 
  	img {max-width: 90%;
  	      height: auto;}

